@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fluid-heading-1 {
  font-size: clamp(2.5rem, 0.875rem + 5.333vw, 3.4rem);
}

.cherry {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-size: cover;
}
.orange {
  background-image: url(/images/mobile/image-photography.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cherry {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
  .orange {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}
.social-icons > a:hover .social-svg-icon {
  fill: white !important;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-right: 30px solid white;
}
